header{
    background-color: #545454;
}

.nav-wrapper .inner{
    background-color: or;
}


.tab-nav.merged {
    background-color: #888787;

}


.tab-nav a {
    background-color: #282929;
}

.breadcrumb{
    background-color: #252525;
}
.page-explorer .listing .index{
    background-color: #676767;
}

.messages .success{
    background-color: #757777;
}